.project-name{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.item{
    text-align: center;
    width: 200px;
}

.item img{
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}